.main {
  display: flex;
  justify-content: space-between;
  background-color: #0079BF;
  padding: 30px;
  height: calc(100vh - 189px);
}

@media (max-width: 600px) {
  .main {
    height: 100vh;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    justify-content: flex-start;
  }
}